@(form: Form[(String, Int, Int)], user: User, users: Seq[(User, Program)], battles: Seq[Battle])(implicit flash: Flash)
@import views.users.MyHelpers._

@main("My page") {

<h1>Welcome @user.name</h1>

@flash.get("success").map { message =>
<p class="success">
    @message
</p>
}
@flash.get("error").map { message =>
<p class="error" style="color: #e55">
    @message
</p>
}
<h2>Upload your program</h2>
<form method="post" action="/user/upload" enctype="multipart/form-data">
    <input type="file" name="program">

    <p>
        <input type="submit" value="Upload program">
    </p>

</form>

<h2>Players</h2>
@form.globalError.map { error =>
<p class="error">
    @error.message
</p>
}
@helper.form(routes.Users.newBattle) {
<ul>

    @users.map { u =>
        <li><label>
            <input type="radio" name="email" id="email_@u._1.name" value="@u._1.email" />
            @u._1.name @u._2.version
        </label></li>
    }
</ul>

<label for="blackTimes">How many times will you play BLACK?</label>
<input type="number" id="blackTimes" name="blackTimes" value="0" /><br />
<label for="whiteTimes">How many times will you play WHITE?</label>
<input type="number" id="whiteTimes" name="whiteTimes" value="0" /><br />
<button type="submit" id="create">Start battle</button>
}

<h2>All battles</h2>
<table>
@battles.reverse.map { battle =>
    <tr>
        <td>@battle.blackMail</td><td>@battle.blackVersion</td>
        <td>@battle.whiteMail</td><td>@battle.whiteVersion</td>
        <td>@battle.status</td><td><a href="/battles/@battle.id">detail</a></td>
        <td>
            @if(battle.blackMail == user.email) {
              <a href="/battles/black/@battle.id">black output</a>
            }
        </td>
        <td>
            @if(battle.whiteMail == user.email) {
            <a href="/battles/white/@battle.id">white output</a>
            }
        </td>
    </tr>
}
</table>

}
