@(user: User, battles: Seq[Battle])(implicit flash: Flash)

@main("My page") {

<h1>Welcome @user.name</h1>

@flash.get("success").map { message =>
<p class="success">
    @message
</p>
}
@flash.get("error").map { message =>
<p class="error">
    @message
</p>
}
<h2>Upload your program</h2>
<form method="post" action="/user/upload" enctype="multipart/form-data">
    <input type="file" name="program">

    <p>
        <input type="submit" value="Upload program">
    </p>

</form>

<h2>All battles</h2>
<table>
@battles.map { battle =>
    <tr>
        <td>@battle.challengerMail</td><td>@battle.challengerVersion</td>
        <td>@battle.opponentMail</td><td>@battle.opponentVersion</td>
        <td>@battle.status</td><td>@battle.serverOutput</td>
    </tr>
}
</table>

}