@(user: User, users: Seq[(User, Program)], battles: Seq[Battle])(implicit flash: Flash)
@import views.users.MyHelpers._

@main("My page") {

<h1>Welcome @user.name</h1>

@flash.get("success").map { message =>
<p class="success">
    @message
</p>
}
@flash.get("error").map { message =>
<p class="error" style="color: #e55">
    @message
</p>
}
<h2>Upload your program</h2>
<form method="post" action="/user/upload" enctype="multipart/form-data">
    <input type="file" name="program">

    <p>
        <input type="submit" value="Upload program">
    </p>

</form>

<h2>Players</h2>
<ul>
    @users.map { u =>
        <li><a href="/user/new-battle/@urlEncode(u._1.email)">@u._1.name</a> @u._2.version</li>
    }
</ul>

<h2>All battles</h2>
<table>
@battles.map { battle =>
    <tr>
        <td>@battle.challengerMail</td><td>@battle.challengerVersion</td>
        <td>@battle.opponentMail</td><td>@battle.opponentVersion</td>
        <td>@battle.status</td><td><a href="/battles/@battle.id">detail</a></td>
    </tr>
}
</table>

}
